# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Pycharm Things
/misc.xml
/modules.xml
/NN-ML-zadanka.iml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
